<!DOCTYPE html>
<html lang = en
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar

</div>
<div class="container">
    <h2 class="text-center text-white m-3">All Accessories</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="a : ${AllAccessories}" th:object="${a}"
             class="brand-section col-md-5 mr-auto d-flex flex-column">
            <a th:href="@{/accessories/details/{id}(id=*{id})}">
                <img class="img-thumbnail" th:src="*{getImageUrl()}" src = "" alt="Brand image">
            </a>
            <h2>
                <span th:text="*{brand +' '+ name}">Shoe name</span>
            </h2>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
