<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container">
    <h2 class="text-center text-white">Add an Album</h2>
    <form th:action="@{/albums/add}" th:method="POST" th:object="${AlbumDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="name">Name</label>
                <input th:field="*{name}" th:errorclass="is-invalid" name="name"
                       id="name" type="text" class="form-control"
                       placeholder="Put album name here">
                <p class="errors alert alert-danger invalid-feedback">
                    Album name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <input th:field="*{description}" th:errorclass="is-invalid" name="description"
                       id="description" type="text" class="form-control"
                       placeholder="Put album description here">
                <p class="errors alert alert-danger invalid-feedback">
                    Album description is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input th:field="*{imageUrl}" th:errorclass="is-invalid" name="imageUrl"
                       id="imageUrl" type="url" class="form-control"
                       placeholder="Put album image URL here">
                <p class="errors alert alert-danger invalid-feedback">
                    Album image URL is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold">Artist</label>
                <select th:errorclass="is-invalid"
                        id="artistId"
                        name="artistId"
                        class="form-control">
                    <option value="">- Select an Artist -</option>
                    <option th:each="artist : ${allArtists}"
                            th:text="${artist.name}"
                            th:value="${artist.id}"
                            th:selected="${artist.id} == *{artistId}">Brand
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Artist name is required.
                </p>
            </div>
        </div>
            <div style="text-align: center">
                <input type="submit" class="btn btn-info btn-lg" value="Submit Album"/>
            </div>

    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
