<!DOCTYPE html>
<html lang = en
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<div class="container">
    <h2 class="text-center text-white m-3">All Albums</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="album : ${albums}" th:object="${album}"
             class="brand-section col-md-5 mr-auto d-flex flex-column">
            <a th:href="@{/albums/details/{id}(id=*{id})}">
                <img class="img-thumbnail" th:src="*{getImageUrl()}" src = "" alt="Brand image">
            </a>
            <h2>
                <span th:text="*{name}">Album name</span>
            </h2>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
