<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/nav.css"/>
<body>
<div class="back">
    <nav>
        <div>
            <ul>
                <li >
                    <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li >
                    <a href="/clothes/all">All Clothes</a>
                </li>
                <li >
                    <a href="/brands/all">All Brands</a>
                </li>
                <li >
                    <a href="/shoes/all">All Shoes</a>
                </li>
                <li >
                    <a href="/accessories/all">All Accessories</a>
                </li>
                <li >
                    <a  href="/artists/all">All Artists</a>
                </li>
                <li >
                    <a href="/albums/all">All Albums</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/brands/add">Add a Brand</a>
                        <a class="dropdown-item" href="/clothes/add">Add a Clothing</a>
                        <a class="dropdown-item" href="/shoes/add">Add a Shoe</a>
                        <a class="dropdown-item" href="/accessories/add">Add an Accessory</a>
                        <a class="dropdown-item" href="/albums/add">Add an Album</a>
                        <a class="dropdown-item" href="/artists/add">Add an Artist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/statistics">Stats for nerds</a>
                    </div>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <div class="text-white">Welcome, <th:block sec:authentication="name"></th:block>!</div>
                        <form th:action="@{/users/logout}" th:method="post">
                            <input class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>

            </ul>
        </div>

    </nav>
</div>
</body>
</html>